/*
    Css responsavel pela estilização
    das paginas do Google.

*/

/* Deixando as margens e os espaçamentos 0px */
*{
    padding: 0px;
    margin: 0px;
}

/* No header é o cabeçalho
    Utilizo display flex para 
    deixar o site responsivo
*/
header{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 75px;
    padding: 10px 0px;
}

header li{
    list-style-type: none;
    display: inline;
    padding-right: 2px;
    margin-right: 2px;
}

#perfil{
    border: 1px solid #000;
    width: 20px;
    height: 20px;
    border-radius: 50px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main img{
    margin: 20px 0px;
}


main input{
    padding: 5px;
    width: 90%;
    border: none;
    margin-bottom: 20px;
    border: 1px solid #aaa;
    border-radius: 10px;
    font-size: 17px;
    padding: 5px;
}

button{
    padding: 10px;
    border: none;
    background-color: #eee;
    
}

footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #ddd;
}

footer h3{
    padding: 10px;
    font-size: 15px;
    color: #777;
    border-bottom: 1px solid #aaa;
}

footer ul{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

footer li{
    list-style-type: none;
    padding: 10px;
    font-size: 13px;
}

.footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

a{
    color: #000;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}